.back-to-top-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #141414;
	border: none;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 0 4px rgba(0, 75, 4, 0.4);
	cursor: pointer;
	transition-duration: 0.3s;
	overflow: hidden;
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 0;
	visibility: hidden;
	z-index: 110;
}

.svgIcon {
	width: 12px;
	transition-duration: 0.3s;
}
.svgIcon path {
	fill: #fff;
}
.back-to-top-button:hover {
	width: 140px;
	border-radius: 50px;
	transition-duration: 0.3s;
	background-color: rgb(0, 112, 4);
	align-items: center;
}
.back-to-top-button:hover .svgIcon {
	transition-duration: 0.3s;
	transform: translateY(-200%);
}
.back-to-top-button:before {
	position: absolute;
	bottom: -20px;
	content: "Zpět nahoru";
	color: #fff;
	font-size: 0px;
}
.back-to-top-button:hover:before {
	font-size: 13px;
	opacity: 1;
	bottom: unset;
	transition-duration: 0.3s;
}

@media (min-width: 700px) {
	.back-to-top-button.show {
		opacity: 1;
		visibility: visible;
	}
}
