.gallery-intro {
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: space-evenly;
	background: linear-gradient(#2c2c2c, #686868);
	color: white;
	font-family: sans-serif;

	.intro-text {
		margin-top: 100px;

		h1 {
			font-size: 64px;
		}
	}
}
