.contact-flexcont{
	display: flex;
	margin: 10vh 7vw;
	padding: 3vh 2vw;
	border-radius: 50px;
	background-color: white;
	justify-content: space-evenly;
}

.divider{
	width: 1px;
	background-color: rgba(128, 128, 128, 0.411);
}

.contact-container{
	width: 40%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

	h1{
		font-size: 4vw;
		font-weight: bold;
	}

	p{
		font-size: 1rem;
		font-family: 'Courier New', Courier, monospace;
		border-bottom: 1px dashed gray;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}

	
	 }

	 .contact-details{
		.contact-item{
			display: flex;
			margin: 3rem auto;

			a{
				font-size: 1.5em;
			}

			img{
				height: 2em;
				margin-right: 1rem;
			}
		}
	 }

	 @media only screen and (max-width: 1000px) {
		#Cont2{
			display: none;
		}

		.divider{
			display: none;
		}

		.contact-container{
			width: auto;
		}
		
	  }
	
	  @media only screen and (max-width: 750px) {

		.contact-container{
			padding: 2rem;
			h1{
				font-size: 2rem;
				
			}
		
			p{
				font-size: 1rem;
			}
		}		
		.contact-details{
			.contact-item{
				
	
				a{
					font-size: 1em;
				}
	
				img{
					height: 1.5em;
					margin-right: 1rem;
				}
			}
		 }
		
	  }