.flex {
	display: flex;
	justify-content: space-around;

	.img-wrapper {
		width: 35%;
		display: flex;
		justify-content: center;
	}
}

.intro {
	width: 100%;
	min-height: 100vh;
	display: flex;
	background: #ecdcd2;
	color: black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	img {
		height: 90vh;
		position: absolute;
		right: 0;
		top: 10vh;
		filter: drop-shadow(0 10px 10px rgb(110, 110, 110));
	}

	.intro-text {
		margin-top: 30vh;
		margin-left: 12vw;

		h2 {
			--a: -45deg; /* control the angle */
			--t: .12em; /* thickness of the underline */ 
			color: #000000;
		  }
		  
		  h2 span {
			--_s: calc(var(--t)*cos(var(--a)));
			background:
			  linear-gradient(var(--a),#0000 var(--_s),currentColor 0 calc(100% - var(--_s)),#0000 0) 
			  bottom/var(--i,90%) var(--t) no-repeat;
			padding: 0 .25em calc(var(--t) + .1em);
			-webkit-box-decoration-break: clone;
					box-decoration-break: clone;
			transition: .3s;
			cursor: pointer;
		  }
		  h2:hover span {
			--i: 100%;
		  }
		  
		  h2 {
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			font-size: 4rem;
			font-weight: bold;
			line-height: 1.5;
			text-transform: capitalize;
			overflow:visible;
		  }
		p {
			margin: 20px 30px;
			font-size: 28px;
			max-width: 40vw;
		}
	}
}



.my-work {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		--a: -45deg; /* control the angle */
		--t: .12em; /* thickness of the underline */ 
		color: #000000;
	  }
	  
	  h2 span {
		--_s: calc(var(--t)*cos(var(--a)));
		background:
		  linear-gradient(var(--a),#0000 var(--_s),currentColor 0 calc(100% - var(--_s)),#0000 0) 
		  bottom/var(--i,90%) var(--t) no-repeat;
		padding: 0 .25em calc(var(--t) + .1em);
		-webkit-box-decoration-break: clone;
				box-decoration-break: clone;
		transition: .3s;
		cursor: pointer;
	  }
	  h2:hover span {
		--i: 100%;
	  }
	  
	  h2 {
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-size: 8rem;
		color: white;
		margin: 10vh auto 12vh;
		font-weight: bold;
		line-height: 1.5;
		text-transform: capitalize;
		overflow:visible;
		text-shadow: 5px 5px 0px rgba(0,0,0,0.49);	  
	}

	img {
		margin: 50px auto;
	}
	.my-work {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			text-align: center;
			color: white;
			font-family: sans-serif;
			font-size: 70px;
		}
	}
}

.btn-holder {
	display: flex;
	justify-content: center;
	margin: 40px 0;

}

.btn {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid rgb(0, 0, 0);
	padding: 10px 20px;
	margin: 20px auto;
	font-size: 17px;
	cursor: pointer;
	font-weight: bold;
	background-color: white;
	position: relative;
	transition: all 1s;
	overflow: hidden;
	box-shadow: rgb(38, 57, 77) 0px 2px 30px -10px;
}
.btn:hover {
	color: white;
	background-color: transparent;

}

.btn::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 0%;
	top: 0;
	left: -40px;
	transform: skewX(45deg);
	background-color: rgb(0, 112, 4);
	z-index: -1;
	transition: all 1s;

}

.btn:hover::before {
	width: 160%;

}
